<div class="row" id="row-1" style="background-color: #3D3D29; color: #FFFFFF;">
  <div class="col-md-8 text-center" id="div-1.1" style="margin-top: 20px;">
    <img class="img-responsive" src="<%= image_path 'Row-o-Cards.png' %>" alt="" />
  </div>
  <div class="col-md-4" id="div-1.2" style="margin-top: 20px; margin-bottom: 20px;">
    <div>
      <span style="font-size: 3em; font-weight: 900; text-transform: uppercase;">Utterless<br>Depravity</span>
      <span class="glyphicon glyphicon-registration-mark" style="font-size: .75em; font-weight: 200;" aria-hidden="true"></span>
    </div>
    <div style="font-size: 1.5em;">
      A game so morally depraved you'll<br>
      never look at humanity the same!
    </div>
  </div>
</div>

<div class="row" id="row-2" style="background-color: #FFFFFF; color: #3D3D29">
  <div class="col-md-6 col-md-offset-1" id="div-2.1" style="margin-top: 20px; margin-bottom: 20px">
    <span style="font-size: 3em; font-weight: 900;">What is Utterless Depravity?</span>
    <br>
    <br>
    <p style="text-indent: 25px;">To "Utter" is to speak, "Utterless" is to not speak. Depravity is the fucked up part of us all that some try so hard to hide. Utterless Depravity brings out the fucked without a word being uttered. It's a party game that pushes the limits of your humanity. It will highlight the deepest darkest corners of your friends minds.</p>
    <br>
    <p style="text-indent: 25px;">Gameplay is stupid simple! Split your party up into teams, one member draws an "Event" card and has to convey the event to their team without speaking. They can draw or act the event out. They can use props and even other people as props. That's it, just no talking or writing out the words, because that's cheating!</p>
  </div>
  <div class="col-md-4" id="div-2.2">
    <!-- 16:9 aspect ratio -->
    <div class="embed-responsive embed-responsive-16by9" style="margin-top: 20px; margin-bottom: 20px">
      <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/qT_MFZT1q20" frameborder="0" allowfullscreen></iframe>
    </div>
  </div>
</div>

<div class="row" id="row-3" style="background-color: #3D3D29; color: #FFFFFF;">
  <div class="col-md-4" id="div-3.1" style="margin-top: 20px; margin-bottom: 20px">
    <img class="img-responsive" src="<%= image_path 'Stack-o-Cards.png' %>" alt="" />
  </div>
  <div class="col-md-7" id="div-3.2" style="margin-top: 20px; margin-bottom: 20px">
    <span style="font-size: 3em; font-weight: 900;">What's the deal with this Starter Deck?</span>
    <br>
    <br>
    <p style="text-indent: 25px;">
      Over the past two-ish years we have written and playtested over 500 cards. We have been ensuring the game is great! So we have a great game and little money. We thought about Kickstarter, but all that needs saying about that is "Potato Salad"! We considered doing pre-orders, but so many "Pre-Order" ideas have come and failed and left so many wallets empty. Then it struck us why the fuck don't we sell the starter deck and use the profits to build it all!
    </p>
    <br>
    <p style="text-indent: 25px;">
      Why should you care? Aside from the fact even the "Starter Deck" is fucking awesome. The cards in the deck will never be part of another deck, so "Limited Edition". Those who buy a starter deck will be first in line for the "Large Deck" when we get there and hey, you'll get it half off. You'll be given a heads up and first dibs at any new decks we come out with for life.
    </p>
    <br>
    <p style="text-indent: 25px;">
      Keep in mind the "Starter Deck" is just that. It's a 69 card deck and yes we know $20 is steep for such a small deck. Small scale printing is not economical. You're not just buying a deck, you will be helping us make the large deck a reality. We can't do it without your help financially and socially. Please share this all over the web, you are our voice into the world, and we promise to bring lots of depravity into yours!
    </p>
    <br>
    <center>
      <form action="shop/products/utterless-depravity-starter-deck" accept-charset="UTF-8" method="link">
        <!-- input type="hidden" name="variant_id" id="variant_id" value="1" />
        <input type="hidden" name="quantity" id="quantity" value="1" / -->
        <button type="submit" class="btn btn-success btn-lg"  id="add-to-cart-button">Buy Now</button>
      </form>
    </center>
  </div>
</div>

<div class="row" id="row-4" style="background-color: #FFFFFF; color: #3D3D29">
  <div class="col-md-7 col-md-offset-1" id="div-4.1" style="margin-top: 20px; margin-bottom: 20px">
    <span style="font-size: 3em; font-weight: 900;">Print your own deck, you cheap bastard!</span>
    <br>
    <br>
    <p style="text-indent: 25px;">
      So you're to cheap to give us money. That's nice, but we are cool. We also know you'll realize your mistake after spending so much time cutting them up and playing with shitty paper cards. Good luck when your drunk ass friend spills their drink on your shitty deck! You'll be back and asking us to take your money. So save yourself some time and our bandwidth and just buy the game.
    </p>
    <br>
    <p style="text-indent: 25px;">

    </p>
    <center>
      <a href="https://s3-us-west-2.amazonaws.com/bedepraved-bucket/Print+n+Play+-+Utterless+Depravity.pdf" role="button" type="button" class="btn btn-danger btn-lg" target=”_blank” onclick=”_gaq.push([‘_trackEvent’,’Button’,’Clicked’,’PnP Download’]);”>Print Your Own</a>
    </center>
  </div>
  <div class="col-md-3" id="div-4.2" style="margin-top: 20px; margin-bottom: 20px">
    <div class="row">
      <div class="col-md-10 col-md-offset-1 text-center">
        <a href="http://creativecommons.org/licenses/by-nc-nd/4.0/">
          <img class="img-responsive" src="<%= image_path 'cc.logo.large.png' %>" alt="" />
        </a>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12 text-center" style="margin-top: 10px; margin-bottom: 10px">
        Utterless Depravity is licensed under Creative Commons. You may download it and share it with others as long as you give us the credit, also you can't change it in any way or use it commercially.
      </div>
    </div>
    <div class="row">
      <div class="col-md-8 col-md-offset-2 text-center">
        <a href="http://creativecommons.org/licenses/by-nc-nd/4.0/">
          <img class="img-responsive" src="<%= image_path 'by-nc-nd.png' %>" alt="" />
        </a>
      </div>
    </div>
  </div>
</div>

<div class="row" id="row-5" style="background-color: #3D3D29; color: #FFFFFF; display: none;">
  <div class="col-md-10 col-md-offset-1 text-center" id="div-5.1" style="margin-top: 20px; margin-bottom: 20px;">
    <span style="font-size: 2.5em; font-weight: 900;">Subscribe and we'll send you emails<br>so you feel like you have friends!</span>
    <br>
    <br>
    Let us send you emails about new products, updates and more.<br>So you will decide you need to give us money.<br>Why? Because we like money and you like shit!
  </div>
</div>

<div class="row" id="row-6" style="background-color: #FFFFFF; color: #3D3D29; display: none;">
  <div class="col-md-5 col-md-offset-1" id="div-6.1" style="margin-top: 20px; margin-bottom: 20px">
    <span style="font-size: 2em; font-weight: 900;">Stupid Questions & Brilliant Answers</span>
    <!-- Q&A Code -->
    <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true" style="margin-top: 20px;">
      <div class="panel panel-default">
        <div class="panel-heading" role="tab" id="headingOne">
          <h4 class="panel-title">
            <a role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
              How do I play Utterless Depravity?
            </a>
          </h4>
        </div>
        <div id="collapseOne" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="headingOne">
          <div class="panel-body">
            <a href="https://en.wikipedia.org/wiki/RTFM">RTFM</a> - and the F does not stand for following! <a href="#">Here is a link to the M!</a>
          </div>
        </div>
      </div>
      <div class="panel panel-default">
        <div class="panel-heading" role="tab" id="headingTwo">
          <h4 class="panel-title">
            <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
              I have a great idea for a card can I send it to you?
            </a>
          </h4>
        </div>
        <div id="collapseTwo" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingTwo">
          <div class="panel-body">
            Yes you can, we encourage it. Use the form to the right (or below if you're on a cell phone) to send us your idea. We will not respond to you though. We will keep track of your email address with your submission, if your card gets a place in a deck you will be rewarded with something special as a thanks. No monetary compensations though, a warm thank you and something cool from our inventory.
          </div>
        </div>
      </div>
      <div class="panel panel-default">
        <div class="panel-heading" role="tab" id="headingThree">
          <h4 class="panel-title">
            <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
              I'm offended by your game who should I complain to?
            </a>
          </h4>
        </div>
        <div id="collapseThree" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingThree">
          <div class="panel-body">
            God maybe, we don't care. This game is protected under the First Amendment. It was made to be offensive, that was our goal. If you still wish to bitch use the form to the right (or below if you're on a cell phone) to send us your two cents. We will post it on the site if we chose. It's part of the terms of use for this site, go away if you don't like it.
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="col-md-5 col-md-offset-1" id="div-6.2" style="margin-top: 20px; margin-bottom: 20px">

  </div>
</div>

<div class="row" id="row-7" style="background-color: #FFFFFF; color: #3D3D29">
  <div class="col-md-10 col-md-offset-1 text-center" id="div-7.1" style="margin-bottom: 20px">
    <a rel="license" href="http://creativecommons.org/licenses/by-nc-nd/4.0/"><img alt="Creative Commons License" style="border-width:0" src="https://i.creativecommons.org/l/by-nc-nd/4.0/80x15.png" /></a><br /><span xmlns:dct="http://purl.org/dc/terms/" property="dct:title">Utterless Depravity</span> by <a xmlns:cc="http://creativecommons.org/ns#" href="http://www.bedepraved.com" property="cc:attributionName" rel="cc:attributionURL">Ian Manseau</a> is licensed under a <a rel="license" href="http://creativecommons.org/licenses/by-nc-nd/4.0/">Creative Commons<br>Attribution-NonCommercial-NoDerivatives 4.0 International License</a>.
    <br>
    <a href='https://www.expeditedssl.com/simple-ssl-scanner/scan?target_domain=www.bedepraved.com' target='_blank'><img src='https://www.expeditedssl.com/ssl-secure-badge.png'  alt='Expedited SSL Scanner'></a>
  </div>
</div>